/* CSS */
body {
	margin: 0;
	font-family: Tahoma, Verdana, sans-serif;
}

/* topnavbar container */
.topnav {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
	background-color: DimGrey;
}

/* Style the topnavbar links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 0.8em 1em;
  text-decoration: none;
	color: #DCDAAE;
}

/* navbar media queries */
@media screen and (max-width: 32em) {
	.topnav, .content,
	.topnav a {float: none;}
}

/* Container for columns */
.flex-container1 {
	display: flex;
  flex-wrap: wrap;
}

/* Create six equal columns */
.column {
	background-color: #393939;
  flex: 25%;
	padding-left: 2em;
	padding-right: 2em;
  height: 16em;
	overflow: hidden;
}

/* On screens that are 60em wide or less, go from three columns to two columns */
@media screen and (max-width: 60em) {
  .column {
    flex: 30%;
  }
}

/* On screens that are 40em wide or less, make the columns stack on top of each other */
@media screen and (max-width: 40em) {
  .flex-container1 {
  	flex-direction: column;
  }
}

/* Container for boxes */
.flex-container2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2em;
	background-color: #393939;
}

.flex-container2 > div {
	background-color: #393939;
	border-radius: 0.3em;
	width: 15em;
	height: 21em;
	margin: 1.5em;
	padding: 2.5em;
	box-shadow: 0 0 1em black;
	text-align: center;
	overflow: hidden;
}

/* mouse over effect for boxes */
.flex-container2 > div:hover {
	box-shadow: 0 0 2em black;
}

@media screen and (max-width: 25em) {
  .flex-container2 > div {
  	padding: 1em;
		margin: 1em;
		overflow: hidden;
		font-size: 0.9em;
  }
}

.content {
	background-color: #393939;
	color: #DCDAAE;
	margin: auto;
	padding: 2em;
}

#columns {
	margin-top: 3.5em;
}

#boxes {
	margin-top: 3.5em;
}

#canvas {
	margin-top: 3.5em;
}

#ajax {
	margin-top: 3.5em;
}

/* hyperlinks */
a {
	color: Gold;
	display: block;
	text-align: center;
	text-decoration: none;
  padding: 0.5em;
}

a:hover {
	color: #63A15F;
	border: none;
}

footer {
	background-color: white;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1em;
}
